body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

#menu-lateral {
    width: 200px;
    background-color: #FF6F00;
    color: white;
    position: fixed;
    height: 100%;
    padding: 10px 15px;
    overflow-y: auto;
}

#menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-lateral li {
    margin: 10px 0;
}

#menu-lateral a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#menu-lateral #submenu-servicos {
    display: none;
    margin-left: 10px;
}

#menu-lateral #menu-servicos-padrao.active + #submenu-servicos {
    display: block;
}

#conteudo {
    margin-left: 220px;
    padding: 20px;
}

#logo-section {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre a logo e a barra de pesquisa */
}

#logo-topo {
    width: 200px;  /* Ajuste de tamanho para a logo */
    height: auto;   /* Mantém a proporção da imagem */
}

#barra-pesquisa {
    text-align: center;
    margin-bottom: 20px;
}

#pesquisa {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF6F00;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FF9800;
}

#tabela-resultados {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabela-resultados th, #tabela-resultados td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#tabela-resultados th {
    background-color: #FF6F00;
    color: white;
}
